<ion-view view-title="Atividades">
  <ion-content>
    <ion-list>
    <ion-item class="item card-item" ng-repeat="tweet in tweets">
        <div class="list card">
          <div class="item item-avatar">
            <img src="{{tweet.user.profile_image_url}}">
            <h2>{{tweet.user.name}}</h2>
            <p>{{tweet.created_at | date:'yyyy-MM-dd HH:mm'}}</p>
          </div>

          <div class="item item-body">
            <!-- <img class="full-image" src="delorean.jpg"> -->
            <p>
              {{tweet.text}}
            </p>
            <p style="text-align: -webkit-right;">
              <a href="#" class="icon ion-arrow-return-right subdued"> {{tweet.retweet_count}}</a>
              <a href="#" class="icon ion-heart subdued"> {{tweet.favorite_count}}</a>
            </p>
          </div>
        </div>
    </ion-item>
    </ion-list>

    <button ng-click="connectTwitter()" class="button button-block button-positive" ng-show="!isConnected">
      Connect to my twitter!
    </button>
  </ion-content>
</ion-view>
